{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Add to Image Gallery
{% endblock %}
{% block content %}
<center>
    <div class="container jumbotron" style="margin-top: 100px;">
    <h1 class="lead">Add Images</h1>
    <hr>
    <form method="POST" action="{% url 'images:upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-md-6" for="imageField">Select Image/s:</label>
            <input type="file" name="images" id="imageField" class="col-md-6 form-control-file" multiple accept="image/*">
        </div>
        <div class="form-group row">
            <label class="col-md-6" for="tagField">Add Tags:</label>
            <input type="text" name="tags" id="tagField" class="col-md-3 form-control-file" required/>
            <span style="font-size: small;color:green" class="col-md-2">comma(,) saperated</span>
        </div>
        <hr>
        <button type="submit" class="btn btn-success">UPLOAD</button>
        </form>
    </div>
</center>
{% endblock %}