{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Image Gallery
{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 5px;margin-top: 5%;margin-bottom: 15px;"><a href="{% url 'images:home' %}" class="btn btn-success btn-sm" style="border-radius:50%;">all</a>{% for tag in tags %} <a href="{% url 'images:images_by_tags' tag.slug %}" class="btn btn-success btn-sm" style="border-radius:50%;">{{ tag }}</a> {% endfor %}</div>
<center><a href="{% url 'images:upload' %}"><i class="fas fa-plus-circle fa-5x"></i></a><br></center>
<div class="container-fluid jumbotron" style="padding-top: 10px;margin-top: 15px;">
    {% for image in images %}
        <div class="col-md-4 no-gutters bg-light position-relative" style="height:350px" >
            <a href="{% url 'images:edit' image.id %}"><img src={{image.get_absolute_image}} alt="image" class="img-fluid" style="width:400px;"></a>
            <hr/>
            <div>
                {% for tag in image.tags.all %}
                <a href="{% url 'images:images_by_tags' tag.slug %}" class="btn btn-primary btn-sm" style="border-radius:50%;">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}